@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Noto+Serif&display=swap');

div.cell div.cell_input {
    padding-left: 0em;
    padding-right: 0em;
    border: 1px #ccc solid;
    background-color: #f7f7f7;
    /* I am overriding the default green left sidebar for code cells */
    /*! border-left-color: green; */
    /*! border-left-width: medium; */
  }

  :root {
    --pst-font-family-base-system: 'Noto serif', serif;
  }

  p {
    text-align: justify;
  }

  .fa {
      margin: 0 10px 0 0;
      color: #083466;
      text-decoration: none;
  }
  



  .fa:hover {
    opacity: 0.7;
  }

  img.profile {
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      width: 120px;
      height: 120px;
  }